@import '@./styles/colors.module.scss';

.movie {
  position: relative;
  margin-bottom: 6%;
  width: 100%;
  height: 47.5vw;
  padding: 6.5vw;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }

  &__info, &__title {
    width: 100%;
    display: flex;
  }

  &__title {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    h6 {
      font-size: 4.2vw;
      line-height: 4.2vw;
      text-align: center;
    }
  }

  &__gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 22%, $bg-color 120%);
    z-index: -1;
  }

  &__play {
    background-color: $bg-transparent;
    background-image: url('../../public/assets/Path2.svg');
    background-repeat: no-repeat;
    background-size: 32%;
    background-position: 57% 52%;
    border-radius: 50%;
    border: 2px solid $lf-white;
    width: 12.8vw;
    height: 12.8vw;
    margin-bottom: 8%;
  }

  &__info {
    display: none;
  }

}

.movie__active {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .movie{
    &__title {
      flex-direction: row;
      justify-content: flex-start;
      height: fit-content;
      margin-bottom: 8%;
  
      h6 {
        text-align: left;
        margin-left: 2vw;
      }
    }
  
    &__play {
      background-size: 37%;
      background-position: 60% 50%;
      margin-bottom: 0;
      width: 7vw;
      height: 7vw;
      margin-right: 4%;
    }
  
    &__gradient {
      background: $bg-transparent;
    }
    
    &__info {
      display: flex;
      z-index: 2;
      justify-content: space-between;

      p {
        font-size: 3.7vw;
        line-height: 3.7vw;
      }
    }
    
    &__rating{
      display: flex;
    }
    
    &__star {
      width: 3.2vw;
      height: 3.2vw;
      background-image: url('../../public/assets/Star.svg');
      background-size: cover;
      margin-right: 6px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .movie {
    &__play {
      width: 30px;
    }
    img {
      max-width: 220px;
      max-height: 130px;
    }
  }
  
}
