@import '@./styles/colors.module.scss';

.movie {
  position: relative;
  margin-bottom: 20px;

  &__info, &__title {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    padding: 24px;
  }

  &__title {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    z-index: 2;
    margin-bottom: 8px;

    h6 {
      font-size: 16px;
      line-height: 16px;
      text-align: center;
    }
  }

  &__title.movie__active {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    bottom: 36px;

    .movie__play {
      margin-bottom: 0;
      width: 24px;
      min-width: 24px;
      height: 24px;
      background-size: 30%;
      margin-right: 12px;
    }

    h6 {
      text-align: left;
    }
  }

  &__gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 22%, $bg-color 120%);
    z-index: 1;
  }

  &__gradient.movie__active {
    background: $bg-transparent;
  }

  &__play {
    background-color: $bg-transparent;
    background-image: url('../../public/assets/Path2.svg');
    background-repeat: no-repeat;
    background-position: 55% 50%;
    border-radius: 50%;
    border: 1.5px solid $lf-white;
    width: 48px;
    height: 48px;
    margin-bottom: 24px;
  }

  &__info {
    display: none;

    p {
      font-size: 14px;
      line-height: 14px;
    }
  }

  &__info.movie__active {
    display: flex;
    z-index: 2;
    justify-content: space-between;
  }

  &__rating{
    display: flex;
  }
  
  &__star {
    width: 12px;
    height: 12px;
    background-image: url('../../public/assets/Star.svg');
    margin-right: 6px;
  }
}

@media only screen and (min-width: 900px) {
  .movie {
    &__play {
      width: 30px;
    }
    img {
      max-width: 220px;
      max-height: 130px;
    }
  }
  
}
